* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Microsoft YaHei, Arial, sans-serif;
    background: #333;
    overflow-y: auto;
    position: relative;
    z-index: -1;
}

a {
    display: block;
    text-decoration: none;
}

li,
ul,
ol,
p {
    list-style: none;
    margin: 0;
    padding: 0;
}

button,
input {
    border: 0;
    outline: none;
}


/* =================  slideout-left  ================= */

.sb-toggle-left {
    float: left;
}

.sb-toggle-left,
.sb-toggle-right,
.sb-close {
    cursor: pointer;
}

.sb-slidebar {
    background-color: #222222;
}

.sb-slidebar,
.sb-slidebar h3 {
    color: #F0F0F0;
}

.sb-slidebar ul.sb-nav li a {
    color: #DEDEDE;
}

.menu {
    color: #fff;
    background: #333;
    overflow: hidden;
}

.pic {
    padding-top: 0.8rem;
    padding-bottom: 0.4rem;
    overflow: hidden;
    display: block;
}

.pic a {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto;
    border: 2px solid #45bbbb;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}

.pic a img {
    width: 100%;
    display: block;
}

.pic span {
    text-align: center;
    display: block;
    font-size: 0.36rem;
    color: #45bbbb;
    padding: 0.12rem;
}

.menu-list li {
    overflow: hidden;
    display: block;
    padding-left: 0.4rem;
}

.list-b {
    font-size: 0.4rem;
    padding: 0.2rem 0.2rem 0.2rem 0.4rem;
    color: #45bbbb!important;
    background: #111!important;
    font-weight: normal;
}

.list-s {
    padding: 0.2rem;
    font-size: 0.36rem;
    border-bottom: 1px solid #666!important;
    color: #fff;
}

.list-s>i {
    float: right;
    font-size: 0.46rem;
}


/* =================  header  ================= */

.box-header {
    width: 100%;
    height: 0.88rem;
    padding: 0 1.1rem;
    background-color: #fff;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.box-header>a {
    width: 1rem;
    height: 0.88rem;
    display: block;
    text-align: center;
}

.a-left {
    padding-left: 0.15rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.a-right {
    padding-right: 0.15rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.box-header>a>i {
    width: 0.58rem;
    height: 0.58rem;
    display: block;
    color: #45bbbb;
    font-size: 0.58rem;
    text-align: center;
    margin: 0.15rem auto;
}

.header-search {
    width: 100%;
    height: 0.64rem;
    box-sizing: border-box;
    display: block;
    position: relative;
}

.header-search>i {
    font-size: 0.46rem;
    color: #aaa;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 0.15rem;
    top: 0.08rem;
}

.header-search>input {
    width: 100%;
    height: 0.64rem;
    padding-left: 0.7rem;
    font-size: 0.3rem;
    color: #666!important;
    border-radius: 0.32rem;
    /* border: 1px solid #45bbbb; */
    background: rgba(69, 187, 187, 0.1);
    margin: 0.12rem auto;
    box-sizing: border-box;
    display: block;
}


/* =================  footer  ================= */

.box-footer {
    width: 100%;
    height: 1rem;
    background: #fff;
    overflow: hidden;
    border-top: 1px solid #eee;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
    /* -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2); */
}

.box-footer>a {
    width: 20%;
    height: 1rem;
    display: block;
    float: left;
    text-align: center;
}

.box-footer>a>i {
    display: block;
    color: #666;
    font-size: 0.44rem;
    text-align: center;
    margin: 0 auto;
    padding-top: 0.1rem;
}

.box-footer>a>p {
    color: #666;
    font-size: 0.24rem;
    text-align: center;
}


/* =================  banner  ================= */

.banner {
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.88rem;
    position: relative;
    overflow: hidden;
}

.banner img {
    display: block;
    width: 100%;
}

.banner .swiper-pagination {
    width: 100%;
    position: absolute;
    z-index: 1;
    text-align: center;
    bottom: .1rem !important;
    line-height: 1;
    font-size: 0;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
    .banner .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }
}

@media (min-width: 768px) {
    .banner .swiper-pagination-bullet {
        width: 15px!important;
        height: 15px!important;
    }
}

.banner .swiper-pagination-bullet {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    background: #fff;
    opacity: 0.8;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.banner.swiper-container>.swiper-pagination .swiper-pagination-bullet {
    margin: 0 .05rem;
}

.banner .swiper-pagination-bullet-active {
    background: #ff9652;
}


/* =================  contents  ================= */

.swiper-contant {
    border-bottom: 0.2rem solid #eee;
    background: #fff;
}

.swiper-container {
    width: 100%;
    background: #fff;
}

.nav-slide {
    width: 100%;
    background: #fff;
    float: left;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 0;
}

.nav-slide span {
    width: 90%;
    height: 1rem;
    margin: 10% 5%;
    padding-top: 0.3rem;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    font-size: 0.36rem;
    color: #fff;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.nav-slide img {
    width: 90%;
    height: 1rem;
    margin: 10% 5%;
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
}


/* ===================================== */

.content-icon {
    width: 100%;
    overflow: hidden;
    background: #fff;
    padding: 0.15rem 0.1rem 0.2rem 0.1rem;
    border-bottom: 0.2rem solid #eee;
}

.icon-box {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.icon-box>a {
    width: 20%;
    display: block;
    padding: 0.1rem 0;
    float: left;
    text-align: center;
}

.icon-box>a>i {
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    display: block;
    color: #45bbbb;
    font-size: 0.48rem;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}

.icon-big1 {
    font-size: 0.44rem!important;
}

.icon-big2 {
    font-size: 0.6rem!important;
}

.icon-big3 {
    font-size: 0.54rem!important;
}

.icon-box>a>p {
    color: #333;
    font-size: 0.24rem;
    text-align: center;
    /* margin: 0.1rem 0; */
}


/* ===================================== */

.title {
    width: 100%;
    overflow: hidden;
    background: #fff;
}

.title h3 {
    font-size: 0.32rem;
    margin: 0.3rem 0.2rem 0.2rem 0.2rem;
    font-weight: bold;
    color: #444;
    text-align: left;
}

.title h3 span {
    display: block;
    float: left;
    width: 0.12rem;
    height: 0.34rem;
    border-radius: 0.06rem;
    margin-top: 0.02rem;
    margin-right: 0.1rem;
    background: #45bbbb;
}

.title h3 i {
    float: right;
    display: block;
    color: #666;
    font-size: 0.34rem;
    text-align: center;
}

.title-more {
    margin-top: -0.04rem;
    float: right;
    color: #666;
    font-size: 0.32rem;
    font-weight: normal;
}

.content-adr {
    width: 100%;
    overflow: hidden;
    padding: 0.1rem;
    box-sizing: border-box;
    padding-bottom: 0.2rem;
    background: #fff;
    border-bottom: 0.2rem solid #eee;
}

.content-adr>a {
    width: 33.33%;
    float: left;
}

.content-adr>a>img {
    display: block;
    width: 90%;
    margin: 0 5%;
    float: left;
}

.content-adr>a>span {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 0.28rem;
    margin-top: 0.1rem;
    color: #333;
    float: left;
}

.content-adr>a>p {
    width: 100%;
    text-align: center;
    font-size: 0.24rem;
    color: #666;
    float: left;
}


/* =========================================== */

.content-yh {
    width: 100%;
    overflow: hidden;
    background: #efefef;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
}

.content-yh a {
    display: block;
    width: 94%;
    height: auto;
    float: left;
    margin: 3% 3% 0 3%;
    border-radius: 10px 10px 0 0;
    padding-bottom: 0.15rem;
    background: #fff;
}

.content-yh a img {
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    float: left;
    margin-bottom: 0.15rem;
}

.content-yh a h4 {
    width: 100%;
    margin-left: 0.15rem;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    color: #333;
    font-size: 0.3rem;
}

.content-yh a p {
    width: 100%;
    margin-top: 0.1rem;
    margin-left: 0.15rem;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    color: #333;
    font-size: 0.26rem;
}

.yh-price {
    width: 100%;
    margin-top: 0.15rem;
    margin-left: 0.15rem;
    float: left;
    color: #999;
    font-size: 0.26rem;
}

.yh-price>dt {
    float: left;
    color: #fe9553;
    font-size: 0.26rem;
}

.yh-price>span {
    font-weight: bold;
    float: left;
    color: #fe9553;
    font-size: 0.36rem;
    margin-top: -0.1rem;
    margin-right: 0.1rem;
}

.yh-right {
    padding: 0.05rem 0.1rem;
    margin-top: -0.1rem;
    margin-right: 0.3rem;
    font-size: 0.24rem;
    border-radius: 5px;
    float: right;
    color: #45bbbb;
    border: 1px solid #45bbbb;
}


/* ============================= */

.content {
    width: 100%;
    border-top: 1px solid #eee;
    overflow: hidden;
    /* padding-bottom: 0.98rem; */
    background: #fff;
}

.content a {
    width: 50%;
    height: 3rem;
    float: left;
    padding: 0.25rem 0.1rem;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.content a img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto;
    display: block;
}

.content a p {
    font-size: 0.24rem;
    color: #333;
    margin: 0.18rem 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content a span {
    font-size: 0.24rem;
    color: #f84c32;
    text-align: center;
    display: block;
}

.border-show {
    border-right: 1px solid #eee;
}

.border-none {
    border-right: none!important;
}